---
import { getEntries } from 'astro:content';
import type { GetStaticPaths } from 'astro';

import { TeamCard } from '#/components/card';
import { getConfig, getFeatureNavigationEntry } from '#/content/getters';
import { MainLayout } from '#/layouts';

export const getStaticPaths = (async () => {
	const teamNavigationEntry = await getFeatureNavigationEntry('team');

	return teamNavigationEntry
		? [
				{
					params: {
						team: teamNavigationEntry.customSlug || 'team',
					},
					props: {
						teamNavigationEntry,
					},
				},
			]
		: [];
}) satisfies GetStaticPaths;

const { teamNavigationEntry } = Astro.props;

const config = await getConfig('team');
const { pageTitle, pageDescription } = config;

const sections = await Promise.all(
	config.sections?.map(async (section) => ({
		...section,
		entries: (await getEntries(section.entries)).filter(
			(entry): entry is NonNullable<typeof entry> => entry !== undefined,
		),
	})) ?? [],
);
---

<MainLayout pageTitle={teamNavigationEntry.label ?? 'Team'}>
	<section class="flex flex-col gap-related-tight">
		<h1 class="typo-h2">{pageTitle}</h1>
		<p>{pageDescription}</p>
	</section>

	{sections?.map((section) => (
    		<section class="flex flex-col gap-related-tight">
          <h2 class="typo-h3">{section.name}</h2>
          <p>{section.description}</p>
          <div class="flex flex-col gap-related-loose sm:grid sm:grid-cols-2 lg:grid-cols-3">
            {section.entries.map((person) => (
            <TeamCard {person}/>
            ))}
          </div>
    		</section>
			))}
</MainLayout>
