---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { Meta } from '#/components/meta';
import Text from '#/components/Text.astro';
import { getFeatureNavigationEntry } from '#/content/getters';
import { type HydratedSermon, isSermon } from '#/content/types/sermons';
import { getImage } from '#/lib/getImage';

interface Props {
	entry: HydratedSermon | CollectionEntry<'blog'>;
}

const { entry } = Astro.props;

const type = entry.collection;

const img = isSermon(entry) ? getImage(entry.series.data.image) : undefined;

const scriptures = isSermon(entry)
	? entry.data.scriptures?.flatMap((scripture) => scripture.expandedRef)
	: undefined;

const navigationEntry = await getFeatureNavigationEntry(
	isSermon(entry) ? 'sermons' : 'blog',
);

const baseUrl = navigationEntry?.customSlug || type;
---

<div
	class="bg-muted rounded-sm shadow-sm flex max-h-48 w-full flex-row"
	data-title={entry.data.title}
	data-date={entry.data.date.getTime()}
	data-card
	data-series={isSermon(entry) ? entry.data.series.id : undefined}
	data-preacher={isSermon(entry) ? entry.data.preacher.id : undefined}
	data-scriptures={isSermon(entry) ? JSON.stringify(scriptures) : undefined}
	data-tags={isSermon(entry) ? undefined : entry.data.tags.join(',')}
>
	{img &&
    <a href={`${baseUrl}/${entry.id}`} class="flex items-center justify-center">
      <Image
        src={img}
        alt={`image for sermon series ${isSermon(entry) && entry.series.data.title}`}
        class="h-20 w-20 md:h-48 md:w-48 rounded-sm md:rounded-r-none my-4 ml-4 md:m-0"
      />
    </a>}

	<div class="flex flex-col justify-center gap-2 p-4 md:p-8 flex-2 min-w-0">
		<a href={`${baseUrl}/${entry.id}`}
			><Text as="h3" variant="heading-4">{entry.data.title}</Text></a
		>
		<Meta {entry} variant="outline" />
	</div>
</div>
