---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import {
	Card,
	CardContent,
	CardDescription,
	CardHeader,
	CardMedia,
	CardTitle,
} from '#/components/ui/card';
import { getImage } from '#/lib/getImage';

interface Props {
	person: CollectionEntry<'team'>;
}

const { person } = Astro.props;

const img = getImage(person.data.image);
---

<Card class="w-full max-w-sm rounded-md h-full">
	<CardMedia class="m-2 rounded-md">
		{img ? <Image
				src={img}
				alt={`picture of ${person.data.firstName}`}
				width={384}
				height={384}
			/>
			: <Image
				src={`https://api.dicebear.com/10.x/glass/svg?seed=${person.data.firstName}`}
				alt={'placeholder image'}
				width={384}
				height={384}
			/>}
	</CardMedia>
	<CardHeader>
		<CardTitle>{`${person.data.firstName} ${person.data.lastName}`}</CardTitle>
		<div>
			{person.data.position}
		</div>
	</CardHeader>
	<CardContent class="space-y-4">
		<CardDescription>{person.body}</CardDescription>
	</CardContent>
</Card>
