---
import { render } from 'astro:content';
import type { GetStaticPaths } from 'astro';

import { Meta } from '#/components/meta';
import { getBlog, getFeatureNavigationEntry } from '#/content/getters';
import { MainLayout } from '#/layouts';

export const getStaticPaths = (async () => {
	const navigationEntry = await getFeatureNavigationEntry('blog');
	const allEntries = await getBlog();
	const baseUrl = navigationEntry?.customSlug || navigationEntry?.featureType;

	return navigationEntry
		? allEntries.map((entry) => ({
				params: {
					entry: `${baseUrl}/${entry.id}`,
				},
				props: { entry },
			}))
		: [];
}) satisfies GetStaticPaths;

const { entry } = Astro.props;

const { title } = entry.data;

const { Content } = await render(entry);
---

<!-- TODO: Add date to blog post entry -->
<MainLayout pageTitle={title} class="layout-prose">
	<div class="flex flex-col gap-2">
		<h1 class="typo-h1">{title}</h1>
		<Meta {entry} />
	</div>
	<div class="prose prose-custom">
		<Content />
	</div>
</MainLayout>
