---
import { Image } from 'astro:assets';

import { getConfig, getNavigation } from '#/content/getters';
import { getImage } from '#/lib/getImage';

import { DesktopNav, MobileNav } from './nav';

const config = await getConfig('site');

const logo = getImage(config.churchLogo?.image);

const primaryNav = await getNavigation('primary');
---

<!-- TODO: Consider dynamic height — but have to account for in full-page home layout -->
<header
	class:list={["layout-full py-8", Astro.url.pathname === "/" ? "absolute inset-x-0 top-0 z-40 bg-background" : "relative"]}
>
	<div class="flex justify-between">
		<div class="flex items-center gap-4 pr-4">
			{config.churchName.showInHeader
			? ( <h2 class="typo-h2"
				><a href="/">{config.churchName.name}</a></h2
			>
			) :
			(<h2 class="sr-only">{config.churchName.name}</h2>)}

			{logo && config.churchLogo?.showInHeader &&  (
		<Image
          src={logo}
          alt="logo"
          class={"max-h-18"}
        />
		)}
		</div>
		<DesktopNav navigationEntries={primaryNav} />
		<MobileNav navigationEntries={primaryNav} />
	</div>
</header>
