---
import { Image } from 'astro:assets';

// import img from '#/assets/series/Advent 2025 Sermon Series graphic sq.webp';
import type { HydratedSermon } from '#/content/types/sermons';
import { getImage } from '#/lib/getImage';

import { Meta } from './meta';
import Text from './Text.astro';

interface Props {
	entry: HydratedSermon;
}

const { entry } = Astro.props;

const { data: sermon } = entry;

const img = getImage(sermon.series?.data.image);

const scriptures = sermon.scriptures?.map((scripture) => scripture.ref);
---

<div
	class="bg-muted rounded-sm shadow-sm flex max-h-48 w-full flex-row"
	data-series={sermon.series?.id}
	data-preacher={sermon.preacher?.id}
	data-date={sermon.date}
	data-scripture={JSON.stringify(scriptures)}
	data-sermon-card
>
	<!-- TODO: Add linking -->
	{img && <Image
		src={img}
		alt={`image for sermon series ${sermon.series?.data.title}`}
		class="h-20 w-20 md:h-48 md:w-48 rounded-sm md:rounded-r-none my-4 ml-4 md:m-0"
	/>}
	<div class="flex flex-col justify-center gap-2 p-4 md:p-8 flex-1 min-w-0">
		<Text as="h3" variant="subheading">{sermon.title}</Text>
		<Meta {entry} variant="outline" />
	</div>
</div>
