---
import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';

import { getFeatureNavigationEntry } from '#/content/getters';
import type { HydratedSermon } from '#/content/types/sermons';

import Badge, { type Theme } from './Badge.astro';

interface Props {
	entry: HydratedSermon | CollectionEntry<'blog'>;
	variant?: 'default' | 'secondary' | 'destructive' | 'outline';
	theme?: Theme;
}

const sermonNavigationEntry = await getFeatureNavigationEntry('sermons');
const blogNavigationEntry = await getFeatureNavigationEntry('blog');

const sermonBaseUrl = sermonNavigationEntry?.customSlug || 'sermons';
const blogBaseUrl = blogNavigationEntry?.customSlug || 'blog';

const { entry, ...props } = Astro.props;

const { date } = entry.data;
---

<div class="flex flex-wrap gap-2">
	<Badge {...props}>
		<span class="sm:hidden">
			{format(date, "MM/dd/yy")}
		</span>
		<span class="hidden sm:inline">
			{format(date, "LLLL do, yyyy")}
		</span>
	</Badge>

	{entry.collection === 'sermons' && (

  <>
    {entry.data.scriptures?.map((scripture) => (
      <Badge {...props}>
        <span class="sm:hidden">
            {scripture.shortRef}
        </span>
        <span class="hidden sm:inline">
          {scripture.ref}
        </span>
      </Badge>
    ))}

    <Badge as="a" href={`/${sermonBaseUrl}?preacher=${entry.data.preacher.id}`} class:list={'hidden sm:flex'} {...props}>{entry.preacher.data.firstName}{' '}{entry.preacher.data.lastName}</Badge>

    <Badge as="a" href={`/${sermonBaseUrl}?series=${entry.series.id}`} class:list={'hidden sm:flex'} {...props}>
        {entry.series.data.title}
    </Badge>
  </>
)}

	{entry.collection === 'blog' &&
  entry.data.tags.map((tag) => (
  <Badge as="a" href={`/${blogBaseUrl}?tag=${tag}`} {...props}>{tag}</Badge>
  ))}
</div>
