---
import type { CollectionEntry } from 'astro:content';

import FilterWrapper from '#/components/filters/FilterWrapper.astro';
import {
	Combobox,
	ComboboxContent,
	ComboboxEmpty,
	ComboboxInput,
	ComboboxItem,
	ComboboxList,
} from '#/components/ui/combobox';
import { getTags } from '#/content/getters';

type Option =
	| CollectionEntry<'series'>
	| CollectionEntry<'preachers'>
	| CollectionEntry<'blog'>;

interface Props {
	options: Option[];
}

const { options } = Astro.props;

const typeMap: Record<Option['collection'], 'preacher' | 'series' | 'blog'> = {
	series: 'series',
	preachers: 'preacher',
	blog: 'blog',
} as const;

const type = typeMap[options[0].collection];

const allTags = type === 'blog' ? await getTags() : [];
---

<FilterWrapper>
	<span slot="label">
		{type === 'series' && 'Series'}
		{type === 'preacher' && 'Preacher'}
		{type === 'blog' && 'Tag'}
	</span>
	<Combobox
		name={type}
		data-filter-type={type === 'blog' ? 'tag' : type}
		class="flex-3/4"
	>
		<ComboboxInput
			placeholder="Filter by ..."
			showClear
			class="border-none hover:bg-secondary rounded-none rounded-r-sm pl-0 h-full"
		/>
		<ComboboxContent class="rounded-sm">
			<ComboboxList>
				<ComboboxEmpty>No results found.</ComboboxEmpty>
				{type === 'blog' ? allTags.map((tag) => (
				  <ComboboxItem value={tag} >
						{tag}
						</ComboboxItem>
					))
					: options.map((entry) => (
				    <ComboboxItem value={entry.id}>
  					{entry.collection === 'preachers' && `${entry.data.firstName} ${entry.data.lastName}`}
  					{entry.collection === 'series' && entry.data.title}
  				</ComboboxItem>
  			))}
			</ComboboxList>
		</ComboboxContent>
	</Combobox>
</FilterWrapper>
