---
import {
	NavigationMenu,
	NavigationMenuContent,
	NavigationMenuItem,
	NavigationMenuList,
	NavigationMenuTrigger,
} from '#/components/ui/navigation-menu';
import type { NavigationEntry } from '#/content/types/navigation';

import Link from './Link.astro';

interface Props {
	navigationEntries: NavigationEntry[];
}

const { navigationEntries } = Astro.props;
---

<NavigationMenu class="max-lg:hidden" aria-label="full-screen">
	<NavigationMenuList>
		{navigationEntries.map((entry) => (
  				<NavigationMenuItem value={entry.label}>
          {entry.navigationEntryType === 'group' ?
          (<>
              <NavigationMenuTrigger>{entry.label}</NavigationMenuTrigger>
              <NavigationMenuContent>
               	<div class="flex flex-col gap-2 p-2">
                 	{entry.children.map((childEntry) =>
                  (
                  <Link entry={childEntry} isChild={true}/>
                  ))}
           			</div>
          		</NavigationMenuContent>
      		</>)
          : <Link {entry}/>
          }
          </NavigationMenuItem>
          	))}
	</NavigationMenuList>
</NavigationMenu>
