---
import { render } from 'astro:content';
import type { GetStaticPaths } from 'astro';

import { Embed } from '#/components/embed';
import { Meta } from '#/components/meta';
import Text from '#/components/Text.astro';
import { getFeatureNavigationEntry, getSermons } from '#/content/getters';
import Layout from '#/layouts/Layout.astro';

export const getStaticPaths = (async () => {
	const navigationEntry = await getFeatureNavigationEntry('sermons');
	const allEntries = await getSermons();
	const baseUrl = navigationEntry?.customSlug || navigationEntry?.featureType;

	return navigationEntry
		? allEntries.map((entry) => ({
				params: {
					entry: `${baseUrl}/${entry.id}`,
				},
				props: { entry },
			}))
		: [];
}) satisfies GetStaticPaths;

const { entry } = Astro.props;

const { title, bulletinURL } = entry.data;

const { Content: SermonContent } = await render(entry);
const { Content: PreacherContent } = await render(entry.preacher);
---

<Layout pageTitle={title}>
	<main class="layout-sermon gap-4 py-8">
		<div>
			<Text as="h1" variant="heading-1">{title}</Text>
			<Meta {entry} />
		</div>
		<div class="h-90">
			<Embed {entry} />
		</div>
		<div class="text-muted-foreground flex flex-col gap-4">
			{entry.rendered?.html ? <SermonContent /> : <PreacherContent />}
			{bulletinURL && (
          <Text as='a' href={bulletinURL} target="_blank" rel="noopener noreferrer" variant='link'>
            View the Bulletin
          </Text>
        )}
		</div>
	</main>
</Layout>
