---
import type { GetStaticPaths } from 'astro';

import { SermonCard } from '#/components/cards';
import { Combobox, DatePicker } from '#/components/filters';
import { Meta } from '#/components/meta';
import Text from '#/components/Text.astro';
import { getFeatureNavigationEntry } from '#/content/lib/getNavigation';
import { getPreachers } from '#/content/lib/getPreachers';
import { getSeries } from '#/content/lib/getSeries';
import { getSermons } from '#/content/lib/getSermons';
import Layout from '#/layouts/Layout.astro';

export const getStaticPaths = (async () => {
	const sermonNavigationEntry = await getFeatureNavigationEntry('sermons');

	return sermonNavigationEntry
		? [
				{
					params: {
						sermons:
							sermonNavigationEntry.customSlug ||
							sermonNavigationEntry.featureType,
					},
					props: {
						sermonNavigationEntry,
					},
				},
			]
		: [];
}) satisfies GetStaticPaths;

const { sermonNavigationEntry } = Astro.props;

const allSermons = await getSermons();
const allSeries = await getSeries();
const allPreachers = await getPreachers();
const latestSermon = allSermons[0];
---

<Layout
	pageTitle={sermonNavigationEntry.label ?? sermonNavigationEntry.featureType}
>
	<main class="layout-base gap-8 py-8">
		<h1 class="sr-only">Sermons</h1>

		<!-- Display Latest Sermon -->
		<section class="flex min-w-0 flex-col gap-4">
			<Text as="h2" variant="heading">Latest Sermon</Text>
			<Text
				as="a"
				variant="subheading"
				class="hover:underline hover:decoration-primary underline-offset-4"
				href={'#'}
				>{latestSermon.data.title}</Text
			>
			<Meta entry={latestSermon} />
			<div class="h-38 bg-primary text-primary-foreground">
				Sermon Media Embed
			</div>
		</section>

		<section>
			<Text as="h2" variant="heading">All Sermons</Text>
			<div class="flex flex-col xl:grid xl:grid-cols-2 gap-4 mb-4">
				<Combobox options={allSeries} />
				<Combobox options={allPreachers} />
				<DatePicker type="from" />
				<DatePicker type="to" />
			</div>
			<div class="flex flex-col gap-8 xl:grid xl:grid-cols-2">
				{allSermons.map((sermon) => (<SermonCard entry={sermon} />))}
			</div>
		</section>
	</main>
</Layout>

<script>
import { createURLState } from '#/lib/urlState';
import { applyFilters } from '#/scripts/applyFilters';
import { createDatepicker } from '#/scripts/createDatepicker';

// init comboboxes
const comboboxes = document.querySelectorAll('[data-slot="combobox"]');

comboboxes.forEach((el) => {
	if (!(el instanceof HTMLElement)) return;
	const type = el.dataset.type;
	if (!type) return;

	const state = createURLState(type);

	// URL => UI
	state.subscribe((value) => {
		el.dispatchEvent(
			new CustomEvent('combobox:set', { detail: { value: value } }),
		);
	});

	// UI => URL
	el.addEventListener('combobox:change', (e) => {
		state.set(e.detail.value);
		applyFilters();
	});
});

// init datepickers
const datepickers = document.querySelectorAll<HTMLElement>(
	'[data-slot="datepicker"]',
);

datepickers.forEach((el) => {
	const type = el.dataset.type;
	const input = el.querySelector<HTMLInputElement>(
		"[data-slot='datepicker-input']",
	);
	const clear = el.querySelector<HTMLButtonElement>(
		"[data-slot='datepicker-clear']",
	);

	if (!input || !type) return;

	const state = createURLState(type);
	const calendar = createDatepicker(input);
	calendar.init();

	// URL => UI
	state.subscribe((value) => {
		input.value = value ?? '';
		if (value) {
			el.dataset.value = value;
		} else {
			delete el.dataset.value;
		}
		calendar.set({ selectedDates: [value ?? ''] });
	});

	// UI => URL
	el.addEventListener('datepicker:change', (e) => {
		state.set(e.detail.value);
		el.dataset.value = e.detail.value;
		applyFilters();
	});

	clear?.addEventListener('click', () => {
		state.set('');
		calendar.set({ selectedDates: [] });
		input.value = '';
		delete el.dataset.value;
		applyFilters();
	});
});

// init filters
applyFilters();
</script>
