---
import type { GetStaticPaths } from 'astro';

import { SermonCard } from '#/components/card';
import { Embed } from '#/components/embed';
import { Combobox, Controls, Datepicker, Search } from '#/components/filters';
import { Meta } from '#/components/meta';
import Text from '#/components/Text.astro';
import {
	getFeatureNavigationEntry,
	getPreachers,
	getSeries,
	getSermons,
} from '#/content/getters';
import Layout from '#/layouts/Layout.astro';

export const getStaticPaths = (async () => {
	const sermonNavigationEntry = await getFeatureNavigationEntry('sermons');

	return sermonNavigationEntry
		? [
				{
					params: {
						sermons: sermonNavigationEntry.customSlug || 'sermons',
					},
					props: {
						sermonNavigationEntry,
					},
				},
			]
		: [];
}) satisfies GetStaticPaths;

const { sermonNavigationEntry } = Astro.props;

const allSermons = await getSermons();
const allSeries = await getSeries();
const allPreachers = await getPreachers();
const latestSermon = allSermons[0];

if (!latestSermon) return;

const baseUrl = sermonNavigationEntry.customSlug || 'sermons';
---

<Layout pageTitle={sermonNavigationEntry.label ?? 'Sermons'}>
	<main class="layout-base gap-8 py-8">
		<h1 class="sr-only">Sermons</h1>

		<!-- Display Latest Sermon -->
		<section class="flex min-w-0 flex-col gap-4">
			<Text as="h2" variant="heading-2">Latest Sermon</Text>
			<Text
				as="a"
				variant="heading-3"
				class="hover:underline hover:decoration-primary underline-offset-4"
				href={`${baseUrl}/${latestSermon.id}`}
				>{latestSermon.data.title}</Text
			>
			<Meta entry={latestSermon} />
			<div class="h-38">
				<Embed entry={latestSermon} isCompact />
			</div>
		</section>

		<section class="flex flex-col gap-4">
			<Text as="h2" variant="heading-2">All Sermons</Text>
			<div
				class="flex flex-col gap-4 group"
				data-filters-container
				data-filters-hidden
			>
				<div class="flex flex-col gap-4 md:flex-row">
					<Search />
					<Controls />
				</div>
				<div
					class="flex flex-col xl:grid xl:grid-cols-2 gap-4 mb-4 group-data-filters-hidden:hidden"
				>
					<Combobox options={allSeries} />
					<Combobox options={allPreachers} />
					<Datepicker type="from" />
					<Datepicker type="to" />
				</div>
			</div>
			<div class="flex flex-col gap-8 xl:grid xl:grid-cols-2">
				{allSermons.map((sermon) => (<SermonCard entry={sermon} />))}
			</div>
		</section>
	</main>
</Layout>

<script>
import {
	applyFilters,
	initComboboxes,
	initControls,
	initDatepickers,
	initSearch,
} from '#/components/filters';

const cards = document.querySelectorAll<HTMLElement>('[data-sermon-card]');

const filtersContainer = document.querySelector<HTMLDivElement>(
	'[data-filters-container]',
);

initComboboxes();
initDatepickers();
initSearch(cards);
initControls();

window.addEventListener('urlstate:change', () => {
	const filtersActive = applyFilters(cards);

	filtersContainer?.toggleAttribute('data-filters-active', filtersActive);
});

window.dispatchEvent(new Event('urlstate:change'));
</script>
